body {
  background: #000000;
}

header {
  width: 100%;
  height: 200px;
  background: #d9d9d9;
}

section {
  width: 100%;
  height: 200px;
  background: #C9C9C9;
  border: 1px solid #C9C9C9;
}

.item-10, .item-9, .item-8, .item-7, .item-6, .item-5, .item-4, .item-3, .item-2, .item-1 {
  padding: 10px;
  border: 1px solid #ccc;
}

.item-3, .item-2, .item-1 {
  font-weight: bold;
}

footer {
  width: 100%;
  height: 200px;
  background: blue;
}
footer:hover a {
  background: red;
}
footer a {
  background-color: #000;
}
footer a:hover {
  background: #C9C9C9;
}

.msg-info {
  padding: 10px;
  border: 1px solid #ccc;
}

.msg-info {
  color: aquamarine;
}
