<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components</title>
</head>

<body>

    <div id="app">
       <my-component></my-component>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        
// Trabalhando com components

        Vue.component('my-component',{
            template: `<div><p> My Component </p>  <child-component></child-component></div>`
        })
        Vue.component('child-component',{
            template: '<p> Componente Filho </p>'
        })
        new Vue({
            el: '#app',
            data: {
                
            }
        })
    </script>
</body>

</html>